.header {
    background-color: var(--btn-text-color);
    padding: 15px 25px;;
    position: fixed;
    top: 0;
    width: 100%; 
}
.header__nav {
    display: flex;
    justify-content: space-between;
}
.header__menu {
    display: flex;
    justify-content: space-between;
}
.header__menu-item {
    margin: auto 70px;
    color: var(--title-color);
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
}
:hover.header__menu-item {
    color: var(--text-color);
}
