body.lock {
    overflow: hidden;
  }

.header {
    background-color: var(--btn-text-color);
    padding: 15px 25px;
    position: fixed;
    width: 100%;
    top: 0;
}

.header__logo-container {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    width: 146px;
    height: 44px;
}

.header__nav-menu-wrapper {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--title-color);
    z-index: 2;
    transition: top 0.3s ease-in;
    padding: 15px 24px 50px 24px;
    transition: top 0.3s ease-in 0.1s;
    overflow: hidden;
    margin: auto;
}

.header__nav-menu-wrapper.active {
    top: 0;
}

.header__menu {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    text-align: center;
}

.header__menu-item {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 20px;
    text-decoration-line: none;
    color: var(--btn-text-color);
}

.header__menu-item:hover{
    color: var(--background-color);
}

@media(min-width: 768px) {
    .header {
        padding-left: 20px;
        padding-right: 20px;
    }

    .header__nav {
        display: flex;
        flex-direction: row;
    }

    .header__nav-menu-wrapper {
        position: relative;
        top: 0;
        padding: 0px;
        background-color: #00000000;
        text-align: center;
    }

    .header__menu {
        flex-direction: row;
        margin-top: 0px;
        justify-content: center;
    }

    .header__menu-item {
        color: var(--title-color);
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        margin: auto;
    }

    :hover.header__menu-item {
        color: var(--text-color);
    }
}

@media(min-width: 990px) {
    .header {
        padding-right: 40px;
        padding-left: 40px;
    }

    .header__nav-menu-wrapper {
        width: 50%;
        margin: auto 0px;
    }

    .header__nav {
        justify-content: space-between;
    }
}

@media(min-width: 1060px) {
    .header {
        padding-right: 120px;
        padding-left: 120px;
    }

    .header__nav-menu-wrapper {
        width: 30%;
    }

    .header__menu-item {
        margin-left: 20px;
        font-size: 20px;
    }
}