.services {
    margin: 90px 20px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services__title {
    font-size: 35px;
    font-weight: 900;
    color: var(--title-color);
    margin-bottom: 30px;
}

.services__table {
    display: flex;
    justify-content: center;
    border-spacing: 30px;
}

.services__item {
    background-color: var(--background-color);
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    font-size: 13px;
    color: var(--text-color);
}

@media(min-width: 768px) {
    .services {
        padding-left: 20px;
        padding-right: 20px;
    }

    .services__title {
        font-size: 39px;
    }

    .services__item {
        padding: 15px;
        font-size: 16px;
    }
}

@media(min-width: 990px) {
    .services {
        padding-left: 40px;
        padding-right: 40px;
        margin-bottom: 90px;
    }

    .services__title {
        font-size: 45px;
    }

    .services__item {
        padding: 20px;
        font-size: 17px;
    }
}

@media(min-width: 1060px) {
    .services {
        padding-left: 120px;
        padding-right: 120px;
    }

    .services__title {
        margin-top: 20px;
        font-size: 49px;
    }

    .services__table {
        margin: 30px;
    }

    .services__item {
        width: 220px;
        height: 70px;
    }
}